* {
  /*box-sizing: border-box;*/
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
  font-weight: 300;
  background-color: #f1f1f3;
}
h2, h3 {
  font-weight: 300;
  margin: 0;
}
h3 {
  font-weight: 400;
}
/*core-drawer-panel {
  background-color: #ccc;
}*/

core-header-panel  {
  height: 100%;
}

polyfill-rule {
  content: 'core-header-panel #mainContainer' ;
  left: 45% !important;
}
core-header-panel[mode="cover"]::shadow #mainContainer {
  width: 465px;
  left: 50%;
  margin-left: calc(-465px/2);
}

core-header-panel::shadow #mainContainer::-webkit-scrollbar { 
  display: none; 
}

/*.purple-bg {
  background: rgb(106, 69, 183);
}

.purple {
  color: rgb(106, 69, 183);
}*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}

main x-card {
  margin: 16px;
}

paper-fab {
  background-color: #e91e63;
  /*position: relative; */
  position: absolute;
  bottom: -27px;
  right: 1em;
  z-index: 10;
}
paper-fab.mini {
  bottom: -20px;
}

x-card#hovercard {
  position: fixed;
  bottom: 2em;
  right: 2em;
  margin: 0;
  width: 40px;
  height: 40px;
}
x-card#hovercard::shadow #cardcontent {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/*paper-fab[icon$="gamepad"] {
  background-color: black;
}*/
#hovercard paper-icon-button::shadow /deep/ path {
  fill: #777;
}

/* Theme ---------------------------------------------------------------------*/
.purple-theme :-webkit-any(core-toolbar, paper-tabs) {
  background: rgb(106, 69, 183);
  fill: white;
}
.purple-theme :-moz-any(core-toolbar, paper-tabs) {
  background: rgb(106, 69, 183);
}
.purple-theme /deep/ core-icon::shadow path {
  fill: white;
}

.purple-theme .heading {
  color: rgb(106, 69, 183);
}

.purple-theme paper-fab {
  background-color: #00acde;
}

.purple-theme paper-button[raisedButton] {
  color: #fff;
  background: rgb(106, 69, 183);
}
.purple-theme paper-button[raisedButton]:hover {
  background: rgb(82, 44, 160);
}

.purple-theme paper-input /deep/ .focusedColor {
  background: rgb(106, 69, 183);
  color: rgb(106, 69, 183);
}

.purple-theme paper-slider::shadow #sliderKnobInner,
.purple-theme paper-slider::shadow #sliderKnobInner::before,
.purple-theme paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: rgb(106, 69, 183);
}

.purple-theme :-webkit-any(paper-checkbox,
                           paper-radio-button)::shadow #ink {
  color: rgb(106, 69, 183);
}
.purple-theme :-moz-any(paper-checkbox,
                        paper-radio-button)::shadow #ink {
  color: rgb(106, 69, 183);
}
.purple-theme :-webkit-any(paper-checkbox[checked],
                           paper-radio-button[checked])::shadow #ink {
  color: grey;
}
.purple-theme :-moz-any(paper-checkbox[checked],
                           paper-radio-button[checked])::shadow #ink {
  color: grey;
}
    
.purple-theme paper-checkbox::shadow #checkbox.checked {
  border-color: rgb(106, 69, 183);
}
.purple-theme paper-toggle-button::shadow paper-radio-button::shadow #ink {
  color: rgb(106, 69, 183);
}
.purple-theme  paper-toggle-button::shadow #toggleBar[checked] {
  background-color: rgb(106, 69, 183);
}
.purple-theme paper-toggle-button::shadow paper-radio-button[checked]::shadow #ink {
  color: grey;
}
.purple-theme /deep/ paper-radio-button::shadow #onRadio {
  background-color: rgb(106, 69, 183);
}

.purple-theme paper-tabs::shadow #selectionBar {
  background-color: #fff;
}

.purple-theme paper-tabs /deep/ #ink {
  color: #fff;
}

/* -------------------------------------------------------------------------- */

paper-radio-group paper-radio-button {
  padding-left: 0 !important;
}
paper-toggle-button {
  vertical-align: middle;
  margin-left: 35px;
}

paper-input,
paper-slider,
paper-progress {
  width: 100%;
}

paper-input /deep/ .focusedColor {
  background: #009688;
  color: #009688;
}

paper-button[raisedButton] {
  color: #fff;
  background: #009688;
}

paper-slider::shadow #sliderKnobInner,
paper-slider::shadow #sliderKnobInner::before,
paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #009688;
}

paper-progress.red::shadow #activeProgress {
  background-color: red;
}

paper-progress.red::shadow #secondaryProgress {
  background-color: #f8bbd0;
}
paper-button[default] {
  color: #4285f4;
}
paper-button + paper-button {
  margin-left: 8px;
}

paper-tabs, core-toolbar {
  background-color: #009688;
  color: #fff;
}

paper-tabs {
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}
/*paper-tabs paper-tab.core-selected {
  color: red;
}*/

.heading {
  color: #009688;
}

#themetoggle {
  position: fixed;
  bottom: 3em;
  left: 0;
  z-index: 10;
}

@media all and (max-width: 400px) {   
  core-header-panel[mode="cover"]::shadow #mainContainer {
    left: 50%;
    width: 275px;
    margin-left: calc(-275px/2);
  }
  core-toolbar,
  x-card h2 {
    font-size: 5vw;
  }
  x-card img {
    height: 150px !important;
  }
  .purple-theme core-toolbar.tall {
    height: 100px;
  }
  core-toolbar > * {
    margin: 0 !important;
  }
  core-toolbar [icon="search"] {
    display: none;
  }
  #themetoggle {
    margin-left: 15px;
    bottom: 15px;
  }
  #hovercard {
    display: none;
  }
  paper-fab.mini {
    position: absolute;
  }
  paper-fab {
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
}
